<h1><%= @beer.brewery %></h1>
<h1><%= @beer.name %></h1>
<h4>Category: <%=  @beer.category.name %></h4>
<p><%= @beer.description %></p>
<p><%= @beer.review %></p>

<% if user_signed_in? %>
	<%= link_to "back", root_path %>

	<% if @beer.user_id == current_user.id %>
		<%= link_to "Edit", edit_beer_path(@beer) %>
		<%= link_to "Delete", beer_path(@beer), method: :delete, data: { confirm: "Are you sure?"} %>
	<% end %>
<% end %>
