<div class="row">
	<div class="col-md-4">
		<%= image_tag @beer.beer_image.url(:beer_show), class: "beer_show" %>
	</div>
	
	<div class="col-md-8">
		<h1><%= @beer.brewery %></h1>
		<h2><%= @beer.name %></h2>
		<p><%= @beer.review %></p>
	</div>
</div>	

<div class="row">
	<div class = "col-md-4">
		<%= render @beer.reviews %>
			<%= link_to "back", root_path %>
	</div>
	
	<div class = "col-md-4">
		<% if user_signed_in? %>
			<%= link_to "Add Review", new_beer_review_path(@beer) %>
			<% if @beer.user_id == current_user.id %>
				<%= link_to "Edit", edit_beer_path(@beer) %>
				<%= link_to "Delete", beer_path(@beer), method: :delete, data: { confirm: "Are you sure?"} %>
			<% end %>
		<% end %>
	</div>
	
</div>

	
<div class = "row">		
Test
</div>
